$primary-color: #333;
html{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root,
.App{
  height: 100%;
  width: 100%;
  background-color: $primary-color;
}

.Map-container{
  height: 100%;
  width: 100%;
}

